/* For Preloader */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
/* 
                             -------------------------------------
                                    PRELOADER PROPERTIES          
                             ------------------------------------- */
.contain{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
}

.contain .loader{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #000;
    animation: animate 1.5s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.contain .loader::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0,255,249,0.4));
    background-size: 100px 100px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.contain .loader::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    z-index: 10;
    box-shadow: 0 0 10px #00fff9,
                0 0 20px #00fff9,
                0 0 30px #00fff9,
                0 0 40px #00fff9,
                0 0 50px #00fff9,
                0 0 60px #00fff9,
                0 0 70px #00fff9,
                0 0 80px #00fff9,
                0 0 90px #00fff9,
                0 0 100px #00fff9;
}

.contain .loader span{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #000;
    border-radius: 50%;
}

/* ------------------------------- Preloader 2 --------------------------- */
/* .loader_bg{
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after{
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1.5s linear infinite;
    opacity: 0;
}

.loader:before{
    animation-delay:0.5s;
}

@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
} */