                                                    /* INSTALLING PRELOADER */
#loader_bg{
    position: fixed;
    z-index: 9999999;
    background: #000;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after{
    content: '';
    border: 1em solid red;
    /* border: 1em solid #00fff9; */
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1.5s linear infinite;
    opacity: 0;
}

.loader:before{ 
    animation-delay:0.5s;
}

@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

                    /* ----------------------------------------------------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: linear-gradient(to top right, #80cbc4, #e1bee7, #80ddea, #d1c4e9);
}

/* =================================================================================== */
                                     /*  -----------------------------
                                            NAVIGATION BAR
                                         ----------------------------- */
/* properties of vertical navbar */
nav {
    width: 16.2%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(68, 255, 246, 0.17);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
    height: 100%;
}

nav ul {
    position: relative;
    list-style-type: none;
}

/*  -----------------------------
      Styling options of navbar
    ----------------------------- */

nav ul li a{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    padding: 10px 30px;
    height: 50px;
    transition: .5s ease;
    border-radius: 0 30px;
}

nav ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

/*  -------------------------------------------
      Styling "dropdown list" of MENU option  

      Menu > Links 
    -------------------------------------------*/
/* For visibility issue use "position: sticky;" */

nav ul ul {
    position: absolute;
    /* position: sticky; */
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: #80cbc4;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

nav ul span{
    position: absolute;
    /* position: sticky; */
    right: 20px;
    font-size: 1.5em;
}
nav ul .dropdown{
    position: relative;
    /* position: sticky; */
}

/*---------- For "Menu > links" ------------*/
/* nav ul .dropdown:hover ul {
    display: initial;
} */

/*---------- For "Menu > link_x > links" ------------*/
nav ul .dropdown:hover > ul {
    display: initial;
}

/*  -------------------------------------------
      Styling dropdown list of "Link-3"  

      Menu > Link > Links
    -------------------------------------------*/
nav ul .dropdown_2 ul{
    position: absolute;
    /* position: sticky; */
    left: 200px;
    top: 0;
}

nav ul .dropdown_2:hover ul {
    display: initial;
}

/* Here in ".dropdown_2 split", split is used as class to initiate the dropdown list from where you want by entering its pixels from top */
nav ul .split ul {
    top: 110px;
}

/*  -------------------------------------------
             Styling PROFILE PICTURE  
    -------------------------------------------*/
.profile_pic {
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin-bottom: 10px;
}

nav center h3{
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

/*  -----------------------------
        STYLING CONTENT PAGE
    ----------------------------- */

.main{
    margin-left: 16.2%;
}

/* ============================================================= */
                            /*  -----------------------------
                                        ABOUT PAGE
                                ----------------------------- */
.about{
    padding-top: 10rem;
    padding-left: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height:100vh;
    /* background-color: cyan; */
    /* background-image: url("#"); */
}

.about h1{
    font-size: 3rem;
}

.about h2{
    margin-bottom: 2rem;
    color: #777777;
    font-weight: 400;
}

/* Styling quotation */
#quote{
    font-family: 'Oswald', sans-serif;
    font-size: large;
    padding-top: 3vh;
    padding-bottom: 10vh;
}

/* For paragraphs */
.about .para{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-bottom: 2rem;
}

/*                              -----------------------------
                                        EXPERIENCE PAGE
                                ----------------------------- */
.experience{
    margin-top: 6em;
}
.experience h1{
    text-align: center;
    margin-top: 5vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 80px 0;
}

.container .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, .05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}

.container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.container .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, .3);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.container .card .box .content {
    padding: 20px;
    text-align: center;
}

.container .card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, .05);
    transition: 0.5s;
    pointer-events: none;
}

.container .card:hover .box .content h2{
    color: rgba(0, 0, 0, .05);
}

.container .card .box .content h3{
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container .card .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container .card:hover .box .content p,
.container .card:hover .box .content h3{
    color: #fff;
}

.container .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container .card:hover .box .content a{
    background: #ff568f;
}

/*                              -----------------------------
                                        PORTFOLIO PAGE
                                ----------------------------- */









/*                              -----------------------------
                                    SOFTWARE SKILL PAGE
                                ----------------------------- */










/*                              -----------------------------
                                    ACHIEVEMENT/ AWARD PAGE
                                ----------------------------- */













/*                              -----------------------------
                                        CONTACT PAGE
                                ----------------------------- */













